.bg1 {	width:100%;
	    height: 450px;
	    margin-left: 725px;
		background-image: url("https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/12410551_570691636428103_6173075485525037302_n.jpg?oh=898d7cef1fc4b4d14c8a9ec6dc21e65f&oe=58771EA8");
		background-repeat: no-repeat;}
h2	{	font-size: 28px;
		font-style: bold;
		}
.glist{width:100%;
		margin-left: 850px;
		color: #255265;}