
body {	font-family: 'Josefin Sans', sans-serif;
		background-color: #eb5555;}
.bg1 {	width:50%;
	    height: 500px;
		margin: auto;
		background-image: url(../images/hope.jpg);
		background-repeat: no-repeat;}

h2	{	font-size: 28px;
		font-style: bold;}
.glist{	color: #255265;
		font-family: 'Ubuntu', sans-serif;}

.container {width: 50%;
		margin: auto;
		background-color: rgba(166,35,35,1);}

.sidebar {	float: left;
			width: 25%;
			height: 1000px;
			background-color: #f13333;}
.face	{	width: 50%;
			margin: auto;
			background-color:#871c1c;}

footer	{clear: both;}